footer {
    background-color: #535bf2;
    color: #ffffff;
    padding: 2.5px 0;
    text-align: center;   /* centers text */
  }
  
  footer .container {
    display: flex;
    justify-content: center;  /* centers horizontally */
    align-items: center;      /* centers vertically if needed */
  }
  
  footer .container h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
  }
  